* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffa767;
    margin: 0;
}

header {
    background-color: #dd4203;
    position: relative;
}

h1 {
    color: white;
    padding: 20px;
}

.links {
    position: absolute;
    bottom: 0;
    right: 40px;
    margin-bottom: 10px;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links li {
    display: inline-block;
    margin-right: 20px;
}

.links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.links a:hover {
    border-bottom: 2px solid white;
}

.container form{
    display: block;
}

.container input{
    display: block;
    padding: 10px;
    border-radius: 90px;
    width: 15%;
}

button{
    background-color: #07b31e;
    padding: 10px;
    border-radius: 90px;
    color: #fff;
    width: 15%;
    cursor: pointer;
}

button:hover{
    background-color: #72ec6b;
}

.Meio{
    display: flex;
}

section {
    padding: 40px;
}

footer {
    background-color: #e65b1c;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}